package-lock.json
node_modules
build/contracts
build
.secret
.stripeApiKey
.telegramApiKey
.what3wordsApiKey
.infuraApiKey
.krakenApiKey
.krakenPkAPI
.moralisApiKey
.snowtraceApiKey
.env
minty/artifacts/build-info
